/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

/* CV container styles */
.cv-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
.cv-header {
    text-align: center;
    margin-bottom: 20px;
}

.cv-header h1 {
    font-size: 32px;
    color: #E5E7EB;
    background-color: hsl(348, 52%, 25%);
    padding: 20px;
    border-radius: 10px;
}

/* Section styles */
.cv-section {
    margin-bottom: 10px;
}

/* Heading styles */
.cv-heading h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    margin-top: 20px
}

/* Content styles */
.cv-content {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.cv-content img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 250px;
}

/* styles.css */
#backButton {
    background-color: #ae2c2c; /* Button background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding around the button text */
    font-size: 16px; /* Font size */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    position: fixed; /* Position the button */
    bottom: 20px; /* Distance from the bottom of the page */
    right: 20px; /* Distance from the right side of the page */
}

#backButton:hover {
    background-color: #0056b3; /* Change button background color on hover */
}
.skill {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #e8acac;
    cursor: pointer;
}

.skill-info {
    display: none;
    padding: 10px;
    margin-top: 20px;
    background-color: #ae2c2c;
    border: 3px solid #070505;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 300px; 
}

.skill-info p {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}



.cv-content p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

.cv-content ul {
    margin-left: 20px;
}

.cv-content li {
    margin-bottom: 5px;
}

/* Link styles */
.cv-content a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.cv-content a:hover {
    text-decoration: underline;
}

.cv-content a {
    color: #aa2a2a; /* Set link color */
    text-decoration: none; /* Remove default underline */
}

.cv-content a:hover {
    text-decoration: underline; /* Add underline on hover */
}
